<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>I am facing</string>
		<key>Type</key>
		<integer>2</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier2</string>
		<key>Identity</key>
		<string>Situation</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>showSituationScreen</string>
		<key>Level</key>
		<string>Single</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Value</key>
		<string></string>
		<key>Title</key>
		<string>Describe your situation</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>CheckInDetailTableviewCellIdentifier</string>
		<key>Identity</key>
		<string>Description</string>
		<key>RowHeight</key>
		<integer>90</integer>
		<key>Method</key>
		<string>showDescriptionScreen</string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Value</key>
		<string></string>
		<key>Title</key>
		<string>Location</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>LocationListingCellIdentifier</string>
		<key>Identity</key>
		<string>Location</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>showLocationDetailScreen</string>
		<key>OptionTitle</key>
		<string>Choose Location</string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Private Circle (Default)</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>PrivateContactsList</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>showAllContactsList</string>
		<key>Level</key>
		<string>Single</string>
		<key>OptionTitle</key>
		<string>Add</string>
		<key>IsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Public Circle</string>
		<key>Type</key>
		<integer>5</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>PublicContactsList</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>showAllContactsList</string>
		<key>Level</key>
		<string>Top</string>
		<key>OptionTitle</key>
		<string>Add</string>
		<key>IsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>Title</key>
		<string>Social media</string>
		<key>Type</key>
		<integer>5</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>SocialMediaList</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>showAllContactsList</string>
		<key>Level</key>
		<string>Bottom</string>
		<key>OptionTitle</key>
		<string>Add</string>
		<key>IsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Add Photo, Video or Audio</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Media</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>showMideaPickerView</string>
		<key>Level</key>
		<string>Single</string>
		<key>OptionTitle</key>
		<string>Optional</string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>SendAlertIdentifier</string>
		<key>Identity</key>
		<string>SendAlert</string>
		<key>RowHeight</key>
		<integer>80</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Single</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
</array>
</plist>
