<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Describe your situation</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>CheckInDetailTableviewCellIdentifier</string>
		<key>Identity</key>
		<string>Description</string>
		<key>RowHeight</key>
		<integer>90</integer>
		<key>Method</key>
		<string>showDescriptionScreen</string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Enter your location</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>CheckInDetailTableviewCellIdentifier</string>
		<key>Identity</key>
		<string>Location</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>showLocationDetailScreen</string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Contact List</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Contacts</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Top</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Private Circle</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>PrivateContacts</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Bottom</string>
		<key>OptionTitle</key>
		<string>Add Others</string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Check In Frequency</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Frequency</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>showFrequencyPromtsScreen</string>
		<key>Level</key>
		<string>Single</string>
		<key>OptionTitle</key>
		<string>Choose options</string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Edit Alert Message</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Alert</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>showAlertMessagesScreen</string>
		<key>Level</key>
		<string>Top</string>
		<key>OptionTitle</key>
		<string>Optional</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Set End Time</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>EndTime</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>OptionTitle</key>
		<string>Optional</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Add Photo, Video, Audio</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Media</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Bottom</string>
		<key>OptionTitle</key>
		<string>Optional</string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>CheckInFooterCellIdentifier</string>
		<key>Identity</key>
		<string>StartCheckIn</string>
		<key>RowHeight</key>
		<integer>160</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Single</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
</array>
</plist>
