<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Select frequency for Check In</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>ChooseAutoPromts</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Top</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Every 15 mins</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>15</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Every 30 mins</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>30</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Hourly</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>60</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Every 3 hours</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>180</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Bottom</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Create custom</string>
		<key>Type</key>
		<integer>2</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Frequency</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Single</string>
		<key>ConnectedID</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Receive promts by</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>PromtsBy</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Top</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Email</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>1</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<true/>
		<key>ConnectedID</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Notifications</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>3</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>SMS</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>2</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Bottom</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
