<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>IsSelected</key>
		<false/>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>IsSelected</key>
		<false/>
		<key>Title</key>
		<string>Username</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>UpdatedUsername</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Top</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
	<dict>
		<key>OptionTitle</key>
		<string>Edit</string>
		<key>Title</key>
		<string>First name</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>PersonalDetailCellIdentifier</string>
		<key>Identity</key>
		<string>Firstname</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>Placeholder</key>
		<string>Firstname</string>
		<key>Value</key>
		<string></string>
	</dict>
	<dict>
		<key>OptionTitle</key>
		<string>Edit</string>
		<key>Title</key>
		<string>Last name</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>PersonalDetailCellIdentifier</string>
		<key>Identity</key>
		<string>Lastname</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>Placeholder</key>
		<string>Lastname</string>
		<key>Value</key>
		<string></string>
	</dict>
	<dict>
		<key>OptionTitle</key>
		<string>Edit</string>
		<key>Title</key>
		<string>Email</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>PersonalDetailCellIdentifier</string>
		<key>Identity</key>
		<string>Email</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>Placeholder</key>
		<string>Email</string>
		<key>Value</key>
		<string></string>
	</dict>
	<dict>
		<key>OptionTitle</key>
		<string>Edit</string>
		<key>Title</key>
		<string>Phone</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>PersonalDetailCellIdentifier</string>
		<key>Identity</key>
		<string>Phone</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>Phone</string>
		<key>Level</key>
		<string>Bottom</string>
		<key>Placeholder</key>
		<string>Phone</string>
		<key>Value</key>
		<string></string>
	</dict>
	<dict>
		<key>IsSelected</key>
		<false/>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>IsSelected</key>
		<false/>
		<key>Title</key>
		<string>Update Password</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Password</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>changePassword</string>
		<key>Level</key>
		<string>Top</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
	<dict>
		<key>IsSelected</key>
		<false/>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>IsSelected</key>
		<false/>
		<key>Title</key>
		<string>Professional Details</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>ProfessionalDetails</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Top</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Job Title</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>JobTitle</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Top</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Select job title</string>
		<key>Type</key>
		<integer>2</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>SelectedJobTitle</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>selectJobTitle</string>
		<key>Level</key>
		<string>Bottom</string>
		<key>OptionTitle</key>
		<string></string>
		<key>IsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>IsSelected</key>
		<false/>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>OptionTitle</key>
		<string></string>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>PersonalDetailCellIdentifier</string>
		<key>Identity</key>
		<string>Affiliation</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Single</string>
		<key>Placeholder</key>
		<string>Affiliation</string>
		<key>Value</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Freelancer</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>FreelancerCellIndentifier</string>
		<key>Identity</key>
		<string>Freelancer</string>
		<key>Method</key>
		<string></string>
		<key>RowHeight</key>
		<integer>54</integer>
		<key>Level</key>
		<string>Middle</string>
	</dict>
	<dict>
		<key>IsSelected</key>
		<false/>
		<key>Title</key>
		<string>Country of Origin</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string></string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Top</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Select Country</string>
		<key>Type</key>
		<integer>2</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>CountryOfOrigin</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>selectCountryOfOrigin</string>
		<key>Level</key>
		<string>Bottom</string>
		<key>OptionTitle</key>
		<string></string>
		<key>IsSelected</key>
		<false/>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Country Where Working</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string></string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Top</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Select Country</string>
		<key>Type</key>
		<integer>2</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>CountryWhereWorking</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>selectCountryOfWorking</string>
		<key>Level</key>
		<string>Bottom</string>
		<key>OptionTitle</key>
		<string></string>
		<key>IsSelected</key>
		<false/>
	</dict>
</array>
</plist>
