<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>An alert on behalf of a colleague</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>An alert on behalf of a colleague</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Assault with gun</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Assualt with gun</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Assault with knife</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Assualt with knife</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Assault with other object</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Assualt with other object</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Death threats</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>DeathThreats</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Detention</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Detention</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Kidnapping/abduction</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Kidnapping/abduction</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Physical violence (punching, shoving)</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Physical violence</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sexual violence/assault</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Sexual violence/assault</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Threat of kidnapping/abduction</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Threats of kidnapping/abduction</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Threat of assault with weapon</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Threat of Assault with weapon</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Other</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Other</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Bottom</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
