<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Camera/Sound Person</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Camera/SoundPerson</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Editor</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Editor</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Journalist/Reporter</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Journalist/Reporter</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Media Support Worker</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>MediaSupportWorker</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Photographer</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Photographer</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Presenter</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Presenter</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Producer</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Producer</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>OptionTitle</key>
		<string></string>
		<key>Title</key>
		<string>Other</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Other</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Middle</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>OptionTitle</key>
		<string></string>
		<key>Title</key>
		<string>Other</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>PersonalDetailCellIdentifier</string>
		<key>Identity</key>
		<string>OtherSelected</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Bottom</string>
		<key>Placeholder</key>
		<string>Please describe</string>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
