<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>العربية</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Arabic</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>AR</string>
		<key>Level</key>
		<string>AR</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>English</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>English</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>EN</string>
		<key>Level</key>
		<string>EN</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Français</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>French</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>FR</string>
		<key>Level</key>
		<string>FR</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>ערבית</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Hebrew</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>IW</string>
		<key>Level</key>
		<string>IW</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Español</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Spanish</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>ES</string>
		<key>Level</key>
		<string>ES</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>Türkçe</string>
		<key>Type</key>
		<integer>1</integer>
		<key>CellIdentifier</key>
		<string>DetailTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>Turkish</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string>TR</string>
		<key>Level</key>
		<string>TR</string>
		<key>IsSelected</key>
		<false/>
		<key>ConnectedID</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
