<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Step 2: Create a Private Circle</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier2</string>
		<key>Identity</key>
		<string>ProfessionalDetails</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Top</string>
		<key>OptionTitle</key>
		<string></string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Help Text</string>
		<key>CellIdentifier</key>
		<string>HelpTextViewCellIdentifier</string>
		<key>Identity</key>
		<string>PrivateHelpText</string>
		<key>Method</key>
		<string></string>
		<key>RowHeight</key>
		<integer>100</integer>
		<key>Value</key>
		<string>Test</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>add_manually</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>ProfessionalDetails</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Single</string>
		<key>OptionTitle</key>
		<string>Add</string>
	</dict>
	<dict>
		<key>Title</key>
		<string></string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>BlankCellIdentifier</string>
		<key>Identity</key>
		<string>Blank</string>
		<key>RowHeight</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Title</key>
		<string>add_from_addressbook</string>
		<key>Type</key>
		<integer>0</integer>
		<key>CellIdentifier</key>
		<string>TitleTableViewCellIdentifier</string>
		<key>Identity</key>
		<string>ProfessionalDetails</string>
		<key>RowHeight</key>
		<integer>46</integer>
		<key>Method</key>
		<string></string>
		<key>Level</key>
		<string>Single</string>
		<key>OptionTitle</key>
		<string>Add</string>
	</dict>
</array>
</plist>
